/* ----- Custom Background for Discord ----- */
body {
    background: url('https://i.postimg.cc/3JqcDCyC/Christmas-Tree-Minecraft-Wallpaper-4k-HD-Pc-6170h.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
}

/* Optional: Ensures content stays in place */
html, body {
    height: 100%;
    margin: 0;
}
